{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "@modules/*": ["modules/*"],
      "@config/*": ["config/*"],
      "@shared/*": ["shared/*"]
    }
  },
  "minify": true
}
